#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
}


.btn:hover {
  transform: scale(1.05);
}

/* header section */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* para Safari */
}

.logo img {
  height: 90px;
}

.navbar {
  display: flex;
  gap: 50px;
}

.navbar li {
  list-style: none;
  font-size: 25px;
  font-weight: bold;
}

.navbar li a {
  font-family: 'BBH Sans Hegarty', sans-serif;
  font-size: 22px;
  color: rgb(255, 255, 255);
  display: inline-block;
  transition: color 0.3s, transform 0.5s;
}

.navbar li a:hover {
  color: rgb(34, 0, 255);
  transform: scale(1.1);
}


/* home section*/

.hero {
  background-image: url('./assets/heroimg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: brightness(80%);
  border-bottom: blue 3px solid;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 10px;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.about-us-container {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.about-us-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "img tit tit"
    "img text text"
    "img text text";
  padding: 1rem;
  margin-left: 8rem;
  margin-right: 8rem;
  border-bottom: #646464 2px solid;
}

.about-us-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "tit tit img"
    "text text img"
    "text text img";
  padding: 1rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

.about-us-1 img,
.about-us-2 img {
  grid-area: img;
  width: 100%;
  max-width: 250px;
  border-radius: 10px;
}

.about-us-1 h2,
.about-us-2 h2 {
  grid-area: tit;
  font-size: 3rem;
  text-align: center;
}

.about-us-1 p,
.about-us-2 p {
  grid-area: text;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.5;
  margin-top: -2rem;
}

.services-preview {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 100px;
  text-align: center;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.service-card-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "img img h3 h3 h3 ."
    "img img p p p ."
    "img img . . . button";
  gap: 32px;
  width: 70%;
  padding: 2rem;
  border-bottom: #606565 2px solid;
}

.service-card-grid img {
  grid-area: img;
  width: 100%;
  max-width: 125px;
  border-radius: 10px;
}

.service-card-grid h3 {
  grid-area: h3;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 0;
}

.service-card-grid p {
  grid-area: p;
  font-size: 1rem;
  color: white;
  margin: 0;
  word-wrap: break-word;
}

.service-card-grid button {
  grid-area: button;
}

/*section layouts*/

.section-layout {
  padding: 4rem 2rem;
  min-height: 70vh;
}


/* footer Section */

.footer {
  background-color: #3d787e;
  gap: 20px;
  padding: 20px 40px;
  color: white;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 40px;
  grid-template-areas:
    "left right"
    "bottom bottom";
  border-top: rgb(23, 125, 202) 5px solid;
}

.footer-left {
  grid-area: left;
  padding-right: 20px;
  padding-top: 20px;
}

.footer-left ul li {
  margin-bottom: 10px;
  list-style: none;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

.li-top {
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  padding: 15px;
}

.li-bottom {
  border-bottom: 2px solid #555;
  padding: 10px;
}

.footer-right {
  grid-area: right;
  padding-left: 20px;
  padding-top: 20px;
  text-align: center;
}

.footer-bottom {
  grid-area: bottom;
  border-top: 2px solid #555;
  padding-top: 10px;
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.redes {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.redes a {
  color: white;
  transition: 0.3s;
}

.redes a:hover {
  transform: scale(1.1);
}
